#header {
	position: relative;
}

.nav_links {
        position: absolute;
        right: 40px;
        top: 20px;
}

.nav_links li {
        display: inline;
}

.nav_links li a {
	text-decoration: none;
	color: #111;
}

.single #content {
	width: 860px;
}

.pullquote {
    font-size: 118%;
    margin-left:1em;
}

.update {
    background: #FCFFDD;
    background: -moz-linear-gradient(bottom, #F3E553, #FCFFDD 45%);
    border-bottom: 1px solid #F3E553;
    padding: 0.5em;
}